<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="BitShare_Manager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/></startup><userSettings>
        <BitShare_Manager.Properties.Settings>
            <setting name="connectionString" serializeAs="String">
                <value />
            </setting>
            <setting name="bd" serializeAs="String">
                <value />
            </setting>
            <setting name="bs_filmes" serializeAs="String">
                <value />
            </setting>
            <setting name="bs_zoo_item" serializeAs="String">
                <value />
            </setting>
            <setting name="bs_zoo_category" serializeAs="String">
                <value />
            </setting>
            <setting name="bs_zoo_category_item" serializeAs="String">
                <value />
            </setting>
            <setting name="hash_key" serializeAs="String">
                <value />
            </setting>
            <setting name="last_user" serializeAs="String">
                <value />
            </setting>
            <setting name="first_launch" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="bs_connections" serializeAs="String">
                <value />
            </setting>
            <setting name="bs_users" serializeAs="String">
                <value />
            </setting>
            <setting name="connection_name" serializeAs="String">
                <value />
            </setting>
            <setting name="movie_connection_type" serializeAs="String">
                <value />
            </setting>
            <setting name="cover_connection_type" serializeAs="String">
                <value />
            </setting>
            <setting name="bs_catalogo_filmes" serializeAs="String">
                <value />
            </setting>
            <setting name="connectionString_StoredProcedures" serializeAs="String">
                <value />
            </setting>
        </BitShare_Manager.Properties.Settings>
    </userSettings>
</configuration>
